<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="monorail" type="Castle.MonoRail.Framework.Configuration.MonoRailSectionHandler, Castle.MonoRail.Framework"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<appSettings>
		<!-- 下载文档需要的key -->
		<add key="DownloadKey" value="1@#0*ui6t"/>
		<!-- 头像照允许上传的类型 -->
		<add key="AllowUploadFileType" value="png,gif,jpg,jpeg"/>
		<!-- 允许上传的文档类型 -->
		<add key="docFileType" value="doc,docx,xls,xlsx,pot,potx,ppt,pptx,pps,ppsx,vsd,pub,txt,rtf,mpp,pdf,cad"/>
		<!-- 上传文档允许的最大值，单位:M -->
		<add key="DocSizeLimit" value="20"/>
		<!--头像文件上传保存物理路径-->
		<!--<add key="UploadDir" value="D:\快盘\QL\Project\TMM\TMM.Web\Contents\Upload\"/>-->
		<add key="UploadDir" value="E:\tmm\Trunk\TMM.Web\Contents\Upload\"/>
		<!--文档的保存路径-->
		<add key="DocUploadDir" value="D:\UploadDoc\"/>
		<!--头像文件上传保存虚拟路径-->
		<add key="UploadUrl" value="/Contents/Upload/"/>
		<!--管理员账号ID-->
		<add key="TmmAdminId" value="1"/>
		<!--文档图标路径-->
		<add key="DocIconPath" value="/contents/images/icons/"/>
		<!--文档热度规则-->
		<add key="HotRule" value="0-10,10-20,20-50,50-100,100"/>
		<!--公司类型-->
		<add key="CompanyType" value="设计院,施工/监理,材料/设备商,甲方,软件商,高校师生,其他"/>
		<!--专业属性-->
		<add key="MajorType" value="给排水,环保,暖通,制冷,电气,结构,建筑,园林,水利"/>
		<!--免费文档一天的下载量-->
		<add key="FreeDownCount" value="5"/>
		<!--最小起兑金额-->
		<add key="MinExchange" value="100"/>
		<!--兑换抽成比例-->
		<add key="ExchangeRatio" value="0.5"/>
		<!--文档转换虚拟路径配置-->
		<add key="ConvertPathReplaceStr" value="E:\tmm\Trunk\TMM.Web"/>
		<!--系统邮件发送地址-->
		<add key="SysEmailAddr" value="106562267@qq.com"/>
		<!--系统邮件服务器地址-->
		<add key="MailHost" value="smtp.qq.com"/>
		<!--发送邮件的账号-->
		<add key="MailUserName" value="106562267@qq.com"/>
		<!--发送邮件的密码-->
		<add key="MailPassWord" value="lynnqiul5857"/>
		<!--回复消息的分隔符-->
		<add key="MsgSepChar" value="==============="/>
		<!--不需要转换的文档后缀列表-->
		<add key="NotConvertDocTypes" value="abc,cad"/>
	</appSettings>
	<connectionStrings>
		<add name="Search" connectionString="Data Source=127.0.0.1;Initial Catalog=TMM;" providerName="Hubble.SQLClient"/>
	</connectionStrings>
	<monorail smtpHost="yoursmtphost" useWindsorIntegration="false">
		<routing>
			<rule>
				<pattern>^/*$</pattern>
				<replace><![CDATA[ /home/Default.do ]]></replace>
			</rule>
			<rule>
				<pattern>^/index.html</pattern>
				<replace><![CDATA[ /home/Default.do ]]></replace>
			</rule>
			<rule>
				<pattern>^/view.html$</pattern>
				<replace><![CDATA[ /Browse/index.do ]]></replace>
			</rule>
			<rule>
				<pattern>^/reward.html$</pattern>
				<replace><![CDATA[ /Reward/index.do ]]></replace>
			</rule>
			<rule>
				<pattern>^/reward-(\d+).html$</pattern>
				<replace><![CDATA[ /Reward/index.do?first=$1 ]]></replace>
			</rule>
			<rule>
				<pattern>^/login</pattern>
				<replace><![CDATA[ /Login/default.do ]]></replace>
			</rule>
			<rule>
				<pattern>^/register</pattern>
				<replace><![CDATA[ /Login/Register.do ]]></replace>
			</rule>
			<rule>
				<pattern>^/findpwd</pattern>
				<replace><![CDATA[ /Login/FindPwd.do ]]></replace>
			</rule>
      <rule>
        <pattern>^/qqlogin</pattern>
        <replace><![CDATA[ /Login/QQLogin.do ]]></replace>
      </rule>
      <rule>
        <pattern>^/doqqlogin</pattern>
        <replace><![CDATA[ /Login/DoQQLogin.do ]]></replace>
      </rule>
			<rule>
				<pattern>^/app/createUser</pattern>
				<replace><![CDATA[ /Login/DoRegister.do ]]></replace>
			</rule>
			<rule>
				<pattern>^/app/loginOut</pattern>
				<replace><![CDATA[ /Login/LoginOut.do ]]></replace>
			</rule>
			<rule>
				<pattern>^/app/findpwd</pattern>
				<replace><![CDATA[ /Login/DoFindPwd.do ]]></replace>
			</rule>
			<rule>
				<pattern>^/app/login</pattern>
				<replace><![CDATA[ /Login/DoLogin.do ]]></replace>
			</rule>
			<!-- doc -->
			<rule>
				<pattern>^/p-(\d+).html</pattern>
				<replace><![CDATA[ /Browse/Default.do?DocId=$1 ]]></replace>
			</rule>
			<!-- doc list -->
			<rule>
				<pattern>^/list-(\d+)-(\d+)-(\d+)-(\d+)-(\d+)-(\d+).html</pattern>
				<replace><![CDATA[ /Browse/Index.do?catalogId=$1&viewType=$2&pageRange=$3&docType=$4&orderNum=$5&first=$6 ]]></replace>
			</rule>
			<!-- homepage -->
			<rule>
				<pattern>^/home/(\d+).html</pattern>
				<replace><![CDATA[ /my/homepage.do?userId=$1 ]]></replace>
			</rule>
			<rule>
				<pattern>^/home/(\d+)-(\d+).html</pattern>
				<replace><![CDATA[ /my/homepage.do?userId=$1&first=$2 ]]></replace>
			</rule>
			<rule>
				<pattern>^/home/(\d+)-(\d+)-(\d+).html</pattern>
				<replace><![CDATA[ /my/homepage.do?userId=$1&cateId=$2&first=$3 ]]></replace>
			</rule>
			<!-- Admin -->
			<rule>
				<pattern>^/admin$</pattern>
				<replace><![CDATA[ /admin/home/Login.do ]]></replace>
			</rule>
			<rule>
				<pattern>^/admin/$</pattern>
				<replace><![CDATA[ /admin/home/Login.do ]]></replace>
			</rule>
			<!-- search -->
			<!--<rule>
        <pattern>^/search</pattern>
        <replace><![CDATA[ /search/index.do ]]></replace>
      </rule>-->
		</routing>
		<controllers>
			<assembly>TMM.Core</assembly>
		</controllers>
		<viewEngines viewPathRoot="Views">
			<add xhtml="false" type="Castle.MonoRail.Framework.Views.NVelocity.NVelocityViewEngine, Castle.MonoRail.Framework.Views.NVelocity"/>
		</viewEngines>
		<services>
			<service id="Custom" type="TMM.Service.SystemService, TMM.Service"/>
			<service id="Custom" type="TMM.Service.UserService, TMM.Service"/>
			<service id="Custom" type="TMM.Service.AdminService, TMM.Service"/>
			<service id="Custom" type="TMM.Service.DocService, TMM.Service"/>
			<service id="Custom" type="TMM.Service.AccountService, TMM.Service"/>
			<service id="Custom" type="TMM.Service.OrderService, TMM.Service"/>
		</services>
	</monorail>
	<system.web>
		<!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<machineKey validationKey="3FF1E929BC0534950B0920A7B59FA698BD02DFE8" decryptionKey="280450BB36319B474C996B506A95AEDF9B51211B1D2B7A77" decryption="3DES" validation="SHA1"/>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
		<authentication mode="Windows"/>
		<customErrors mode="Off"></customErrors>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</controls>
		</pages>
		<httpHandlers>
			<add verb="*" path="*.do" type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework"/>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="routing" type="Castle.MonoRail.Framework.RoutingModule, Castle.MonoRail.Framework"/>
			<add name="monorail" type="Castle.MonoRail.Framework.EngineContextModule, Castle.MonoRail.Framework"/>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="AutoLogin" type="TMM.Core.Module.AutoLoginHttpModule,TMM.Core"/>
		</httpModules>
		<httpRuntime maxRequestLength="20480"/>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" appliesTo="v2.0.50727"><dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding></runtime>
	<log4net>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="LogFiles/"/>
			<param name="AppendToFile" value="true"/>
			<param name="MaxSizeRollBackups" value="10"/>
			<param name="StaticLogFileName" value="false"/>
			<param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;"/>
			<param name="RollingStyle" value="Date"/>
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger %ndc - %message%newline"/>
			</layout>
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger %ndc - %message%newline"/>
			</layout>
		</appender>
		<root>
			<level value="ALL"/>
			<appender-ref ref="RollingLogFileAppender"/>
			<appender-ref ref="ConsoleAppender"/>
		</root>
		<logger name="IBatisNet.DataMapper.Commands.DefaultPreparedCommand">
			<level value="DEBUG"/>
		</logger>
		<logger name="Memcached.ClientLibrary">
			<level value="WARN"/>
		</logger>
	</log4net>
</configuration>
