<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="true"/>
    <setting cacheModelsEnabled="true"/>
  </settings>
  
  <providers embedded="TMM.Persistence.providers.config, TMM.Persistence"/>
  <!--
  <providers resource="./providers.config"/>
  -->
	<database>

    <provider name="sqlServer2.0"/>
    
		<dataSource name="TMM" connectionString=""/>
	</database>

	<sqlMaps>		
		<sqlMap embedded="TMM.Persistence.Maps.S_FriendLink.xml, TMM.Persistence"/>
		<sqlMap embedded="TMM.Persistence.Maps.S_Config.xml, TMM.Persistence"/>
		<sqlMap embedded="TMM.Persistence.Maps.S_Catalog.xml, TMM.Persistence"/>
		<sqlMap embedded="TMM.Persistence.Maps.U_UserInfo.xml, TMM.Persistence"/>
		<sqlMap embedded="TMM.Persistence.Maps.ManageUser.xml, TMM.Persistence"/>
		<sqlMap embedded="TMM.Persistence.Maps.M_Message.xml, TMM.Persistence"/>
		<sqlMap embedded="TMM.Persistence.Maps.D_DocInfo.xml, TMM.Persistence"/>
		<sqlMap embedded="TMM.Persistence.Maps.D_Tag.xml, TMM.Persistence"/>
		<sqlMap embedded="TMM.Persistence.Maps.D_Rel_DocTag.xml, TMM.Persistence"/>
		<sqlMap embedded="TMM.Persistence.Maps.D_Comment.xml, TMM.Persistence"/>
		<sqlMap embedded="TMM.Persistence.Maps.M_Catalog.xml, TMM.Persistence"/>
		<sqlMap embedded="TMM.Persistence.Maps.M_Favorite.xml, TMM.Persistence"/>
		<sqlMap embedded="TMM.Persistence.Maps.M_Purchase.xml, TMM.Persistence"/>
    <sqlMap embedded="TMM.Persistence.Maps.TOrderDetail.xml, TMM.Persistence"/>
    <sqlMap embedded="TMM.Persistence.Maps.TOrder.xml, TMM.Persistence"/>
    <sqlMap embedded="TMM.Persistence.Maps.MAccount.xml, TMM.Persistence"/>
		<sqlMap embedded="TMM.Persistence.Maps.MPayLog.xml, TMM.Persistence"/>
		<sqlMap embedded="TMM.Persistence.Maps.DownloadLog.xml, TMM.Persistence"/>
		<sqlMap embedded="TMM.Persistence.Maps.AccountLog.xml, TMM.Persistence"/>
		<sqlMap embedded="TMM.Persistence.Maps.ExchangeAccount.xml, TMM.Persistence"/>
    <sqlMap embedded="TMM.Persistence.Maps.T_ReqDoc.xml, TMM.Persistence"/>
    <sqlMap embedded="TMM.Persistence.Maps.T_JoinDoc.xml, TMM.Persistence"/>
  </sqlMaps>
	
</sqlMapConfig>
